@import "src/styles/mixins";

.more {
  padding: 10px;
}

.content {
  width: 100%;
}

.list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.item {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid rgba(249, 249, 249, 0.2);

  &__container {
    display: flex;
    align-content: center;
    gap: 10px;
  }

  &__txt {
    color: var(--text);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
  }
}
