@import "./normalize";
@import "./mixins";
@import "./vars";

body {
  background-color: var(--main-bg);
  color: var(--text);
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
}
