.card {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0px 10px 25px 0px rgba(29, 52, 54, 0.08);

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: var(--accent);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.36px;
  }
}
