.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.firstColumn {
  width: 566px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.secondColumn {
  width: 473px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
